body {
    font-family: "Lato", sans-serif;
    transition: background-color 0.5s;
  }
  
  /* Sidebar */
  .sidenav {
    height: 100%;
    width: 6%;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.2s;
    padding: 1%;
  }
  
  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .sidenav.open {
    width: 22%;
  }
  
  #main {
    transition: margin-left 0.5s;
    width: 94%;
    padding: 2% 2%;
    border-left: 1px solid rgb(229, 234, 239);
    height: 100%;
    overflow: auto;
  }

#dashboard  #sidenavBtn:hover {
    color: blue;
    border-radius: 80px;
    background-color: #ECF2FF;
    cursor: pointer;
}
#dashboard  #sidenavBtn {
    padding: 1%;
}

#dashboard{
    height: 100vh;
}

#dashboard span.menu{
    box-sizing: border-box;
    list-style: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 0.78rem;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 0px;
    color: rgb(85, 99, 122, 1);
    padding: 3px 12px;
}

#dashboard span.submenu{
    padding-left: 8%;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.334rem;
    white-space: nowrap;
    font-family: 'Plus Jakarta Sans', sans-serif;
    letter-spacing: 0.01rem;
}

#dashboard .submenubox{
    color: #57606E;
}

#dashboard .submenubox:hover{
    background-color: rgb(236, 242, 255);
    color: rgb(93, 135, 255);
    cursor: pointer;
    border-radius: 10px;
}

#dashboard .sidenavBtn{
    cursor: pointer;
}

#dashboard .sidenavBtn :hover{
    background-color: rgb(236, 242, 255);
    padding: 3%;
    color: rgb(93, 135, 255);
}

/*   
  #main.shifted {
    margin-left: 11%;
  } */
  